
<!DOCTYPE html>
<html>
 <head>
   <title>WHICH WORLDS TEAM ARE YOU ON </title>
   GIVEN OPTIONS:
   Cheer Athletics - Panthers
   Top Gun - TGLC
   SSX - Sharks
   CEA - Senior Elite
 </head>
 <body>
   <h3> HERE ARE YOUR RESULTS:</h3>
   <%= "I love the gym #{params[:name]}, and I want to be on #{params[:favorite_gym]}." %>
  
 </body>
 
  </html>