
<!DOCTYPE html>
<html>
<head>
  <title> 
  Food is yummy
  </title>
</head> 
<body>
  <h3> Here are your Results:</h3>
  <%= "My name is #{params[:name]}, and I love #{params[:favorite_food]}." %>
</body>
  
  
  
  
  
  
  
  
  
</html>